.carrito{
    display: flex;
    margin: 2rem;
    justify-content: flex-end;

  

}


.imagen{
    width: 50px;
  position: fixed;
  margin-top: 0;
  cursor: pointer;
}


.contador{
  background-color: red;
    color: white;
    border-radius: 50%;
    font-size: 12px;
    padding: 4px;
    top: 37px;
    right: 55px;
  position: fixed;

}